*.py[co]
*.so
*.sw[nop]
.#*
.DS_Store
._*
\#*\#
build
dist
*~
*.log
.coverage
precomputed
.pydevproject
.project
*.sublime-*
virtualenv_run
.tox
*.egg-info/
__pycache__
version
.ycp_playground
playground
docker-venv
.cache
.pytest_cache/
