arrow
boto3
botocore
cachetools
colorlog
colorama
humanfriendly
jsonpickle
kubernetes
matplotlib==3.4.2
mypy-extensions
numpy>=1.20.3
packaging==23.1
parsedatetime
PyStaticConfiguration
PyYAML>=5.4
requests>=2.22.0
retry
semver
signalfx
simplejson
sortedcontainers
typing-extensions
rook
