behave>=1.2.6
coverage
docker-compose
flake8
ipdb
pre-commit
pyhamcrest
pytest==3.5.1  # pinned because of https://github.com/spulec/moto/issues/1596
requirements-tools
mock
moto>=1.1.24
mypy
servicedocs-tool[devenv]
sphinx>=1.6.6
sphinx-rtd-theme
sphinxcontrib-programoutput
sphinx-autodoc-annotation
