arrow
boto3
botocore
cachetools
colorlog
colorama
humanfriendly
jsonpickle
kubernetes
matplotlib>=3.1.1
mypy-extensions
numpy>=1.20.3
packaging
parsedatetime
PyStaticConfiguration
PyYAML>=5.4
requests>=2.22.0
retry
semver
signalfx
simplejson
sortedcontainers
typing-extensions
rook
