arrow
# TODO (CLUSTERMAN-87) remove when https://github.com/boto/botocore/pull/1286 is accepted
botocore==1.7.25.post1
boto3
cachetools
clusterman-metrics>=0.8.0
colorlog
colorama
matplotlib
numpy
parsedatetime
PyYAML
requests
sortedcontainers
signalfx
yelp-batch
yelp-servlib
