alabaster==0.7.11
aspy.yaml==1.1.0
attrs==19.1.0
aws-xray-sdk==0.93
Babel==2.6.0
backcall==0.1.0
bcrypt==3.1.6
behave==1.2.6
blessings==1.7
bravado==10.4.1
bravado-core==5.13.1
bravado-decorators==1.3.1
cfgv==1.4.0
cookies==2.2.1
coverage==4.5.3
dictdiffer==0.5.0.post1
distributed-context==1.5.2
docker==3.7.2
docker-compose==1.24.0
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
ecdsa==0.13
entrypoints==0.3
ephemeral-port-reserve==1.1.0
flake8==3.7.7
frozendict==1.2
furl==2.0.0
identify==1.4.1
imagesize==0.7.1
importlib-metadata==0.18
ipdb==0.11
ipython==6.3.1
ipython-genutils==0.2.0
jedi==0.12.0
Jinja2==2.10.1
jsondiff==1.1.2
jsonref==0.1
MarkupSafe==1.1.1
mbtest==1.5.0
mccabe==0.6.1
mock==2.0.0
monotonic==1.4
more-itertools==4.2.0
git+git://github.com/drmorr0/moto#egg=moto
msgpack-python==0.5.6
mypy==0.701
networkx==2.1
nodeenv==1.3.0
orderedmultidict==1.0
packaging==18.0
paramiko==2.4.2
parse==1.8.2
parse-type==0.4.2
parso==0.3.4
pathspec==0.5.3
pbr==5.1.3
pexpect==4.5.0
pgctl==3.0.1
pickleshare==0.7.4
pluggy==0.6.0
pre-commit==1.14.4
progressbar2==3.38.0
prompt-toolkit==1.0.15
psutil==5.6.1
ptyprocess==0.5.2
pyaml==17.8.0
pycodestyle==2.5.0
pycryptodome==3.6.6
pyflakes==2.1.0
Pygments==2.3.1
PyHamcrest==1.9.0
PyNaCl==1.3.0
pytest==3.5.1
python-jose==2.0.2
python-slugify==2.0.1
python-utils==2.3.0
relode==3.1.0
requirements-tools==1.2.1
responses==0.9.0
rfc3987==1.3.8
s6==2.2.2.0.post5
scandir==1.7
servicedocs-tool==2.4.0
simplegeneric==0.8.1
snowballstemmer==1.2.0
Sphinx==1.7.9
sphinx-autodoc-annotation==1.0.post1
sphinx-rtd-theme==0.2.4
sphinxcontrib-programoutput==0.8
sphinxcontrib-websupport==1.0.1
static-completion==0.1.7
strict-rfc3339==0.7
swagger-spec-validator==2.4.3
synapse-discovery==1.1.1
texttable==0.9.1
toml==0.9.4
traitlets==4.3.2
typed-ast==1.3.1
Unidecode==1.0.23
vcr-scrubbers==3.6.0
virtualenv==16.3.0
wcwidth==0.1.7
webcolors==1.7
Werkzeug==0.15.2
wrapt==1.10.8
xmltodict==0.9.2
yelp-compose==15.19.1
yelp-ips==0.1.3
zipp==0.5.1
