asttokens==2.2.1
backcall==0.2.0
behave==1.2.6
cffi==1.15.1
cfgv==3.3.1
coverage==7.2.7
cryptography==39.0.2
distlib==0.3.6
exceptiongroup==1.1.1
executing==1.2.0
filelock==3.12.2
flake8==6.0.0
identify==2.5.24
iniconfig==2.0.0
ipdb==0.13.13
ipython==8.12.1
jedi==0.18.1
Jinja2==3.1.2
MarkupSafe==2.1.3
matplotlib-inline==0.1.3
mccabe==0.7.0
moto==4.1.5
mypy==1.3.0
nodeenv==1.8.0
parse==1.19.0
parse-type==0.6.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==3.5.1
pluggy==1.0.0
pre-commit==3.3.3
prompt-toolkit==3.0.38
ptyprocess==0.7.0
pure-eval==0.2.2
pycodestyle==2.10.0
pycparser==2.21
pyflakes==3.0.1
Pygments==2.15.1
pyhamcrest==2.0.4
pytest==7.3.2
requirements-tools==2.1.0
responses==0.23.1
stack-data==0.6.2
tomli==2.0.1
traitlets==5.9.0
types-cachetools==5.3.0.5
types-PyYAML==6.0.12.10
types-requests==2.31.0.1
types-retry==0.9.9.3
types-urllib3==1.26.25.13
virtualenv==20.23.0
wcwidth==0.2.6
Werkzeug==2.3.6
xmltodict==0.13.0
