Source: clusterman
Maintainer: Compute Infra <compute-infra@yelp.com>
Build-Depends:
    dh-virtualenv,

Package: clusterman
Depends:
    python3.7,
# unfortunately needed for numpy to work
    libatlas3-base,
# needed so that we can grab signals from s3
# that said, we have an internal fork that conflicts with this
# once that's gone, we should re-add this (aws-cli vs awscli)
#    awscli,
    ${misc:Depends},
    ${python:Depends},
    ${shlibs:Depends},
    ${bionicOrLater:Depends},
    ${jammyOrLater:Depends},
Architecture: any
Description: Cluster scaling and management - y/clusterman
