#!/usr/bin/make -f
# -*- makefile -*-
%:
	dh $@ --with python-virtualenv

override_dh_virtualenv:
	dh_virtualenv --pypi-url='https://pypi.yelpcorp.com/simple' --python python3.6 --preinstall=pip-custom-platform --preinstall=requests --preinstall=pyyaml --pip-tool=pip-custom-platform
